<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div id="user-data" ngModelGroup="userData">
          <!-- ngModelGroup groups the controls in this div in the form's JSON object-->
          <!-- Sidenote: now this group (div) also gets ng classes about the form state like ng-dirty -->
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              name="username" 
              ngModel 
              type="text" 
              id="username" 
              class="form-control"
              required>
          </div> <!-- ngModel allows you to see this input's value when you read #f (the form's data)-->
          <button class="btn btn-default" type="button">Suggest an Username</button>
          
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              #email="ngModel"
              name="email" 
              [ngModel]="'some-email@flsdjf.com'"
              type="email" 
              id="email" 
              class="form-control"
              required
              email>
            <!-- VALIDATORS:
              - required = normally a default html attribute, but here angular detects it
                so it acts as a selector for a built-in angular directive that makes this input required.
              - email = not a default html attribute, but another angular selector for a directive
            if these are not valid, you can still submit, but the form data will contain valid=false/status="INVALID"
            -->
            <span *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid email</span>
          </div>
        </div>

        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select 
            ngModel 
            #secretQuestion="ngModel"
            name="secretQuestion"
            id="secret" 
            class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <!-- form-group is a bootstrap styling class -->
        <div class="form-group">
          <textarea 
            *ngIf="secretQuestion.value"
            [(ngModel)]="secretAnswer"
            name="secretAnswer" 
            class="form-control"
            rows="3">
          </textarea>
        </div>
        <p>Your reply: {{ secretAnswer }}</p>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
