<!-- Angular knows our routes (from appModule), but not where to use them -->
<!-- We use router-outlet directive (looks like a component) for this -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Don't use href the 'normal' way, this way the links will cause a refresh -->
      <!-- Use angular's routerLink directive -->
      <ul class="nav nav-tabs">
        <!-- Somehow "home" is always marked as active, because the "/" path is always part of the path we are on -->
        <!-- Use the routerLinkActiveOptions 'exact' option to prevent this -->
        <li role="presentation" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
