<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>App status: {{ appStatus | async}}</h2> <!-- 
        ^This will appear as [object Promise] and it won't update, even when
        the promise resolves with a string (this is good, it saves performance,
        we should be specific about our app behaviour!). Therefore we need the
        pipe: async (built-in).
      -->
      <button class="btn btn-primary" (click)="addServer()">Add server</button>
      <input type="text" [(ngModel)]="filteredStatus">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)"> <!-- pipes transform your output, you can also apply them to an ngFor loop -->
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 21 }}</strong> | <!-- custom pipe -->
          {{ server.instanceType | uppercase }} | <!-- built-in pipe: uppercase -->
          {{ server.started | date:'fullDate':'CET' }} <!-- built-in pipe: date, passing parameters -->
        </li>
      </ul>
    </div>
  </div>
</div>
