<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- The routerlink will later have a dynamic server id -->
      <!-- QueryParams & fragmentare not new directives, it's another bindable property of the routerLink directive -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: '1'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload Servers Page</button>
    <!-- <app-edit-server></app-edit-server> -->
    <!-- <hr> -->
    <!-- <app-server></app-server> -->

    <!-- RouterOutlet = placeholder that ng dynamically fills based on current router state -->
    <!-- This is the outlet for the child paths of the /servers path (see appModule) -->
    <router-outlet></router-outlet> 
  </div>
</div>
